<div class="flex items-center justify-between py-5 font-medium">
  <img
    src="frontend_assets/logo.png"
    class="w-36 cursor-pointer"
    alt="logo"
    routerLink="home"
  />
  <ul class="hidden sm:flex gap-5 text-sm text-gray-700">
    <li>
      <a
        routerLink="home"
        routerLinkActive="active-link"
        class="flex flex-col items-center gap-1"
      >
        <p>HOME</p>
        <hr class="w-2/4 border-none h-[1.5px] bg-gray-700 hidden" />
      </a>
    </li>
    <li>
      <a
        [routerLink]="['collection']"
        routerLinkActive="active-link"
        class="flex flex-col items-center gap-1"
      >
        <p>COLLECTION</p>
        <hr class="w-2/4 border-none h-[1.5px] bg-gray-700 hidden" />
      </a>
    </li>
    <li>
      <a
        [routerLink]="['about']"
        routerLinkActive="active-link"
        class="flex flex-col items-center gap-1"
      >
        <p>ABOUT</p>
        <hr class="w-2/4 border-none h-[1.5px] bg-gray-700 hidden" />
      </a>
    </li>
    <li>
      <a
        [routerLink]="['contact']"
        routerLinkActive="active-link"
        class="flex flex-col items-center gap-1"
      >
        <p>CONTACT</p>
        <hr class="w-2/4 border-none h-[1.5px] bg-gray-700 hidden" />
      </a>
    </li>
  </ul>
  <!-- Icons -->
  <div class="flex items-center gap-6">
    <img
      src="frontend_assets/search_icon.png"
      alt="search-icon"
      class="w-5 cursor-pointer"
      (click)="onOpenSearchBar()"
    />

    <div class="group relative">
      <img
        src="frontend_assets/profile_icon.png"
        alt="profile-icon"
        class="w-5 cursor-pointer"
        (click)="onProfileClick($event)"
      />
      <div class="relative group">
        <div
          class="hidden sm:group-hover:block absolute dropdown-menu right-0 pt-4"
        >
          <div
            class="flex flex-col gap-2 w-36 py-3 px-5 bg-slate-100 text-gray-500 rounded"
          >
            <p class="cursor-pointer hover:text-black">My Profile</p>
            <p class="cursor-pointer hover:text-black">Orders</p>
            <p
              class="cursor-pointer hover:text-black"
              (click)="onLoginOrLogout()"
            >
              {{ loginOrLogout }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative">
      <a [routerLink]="['cart']">
        <img
          src="frontend_assets/cart_icon.png"
          alt="cart-icon"
          class="w-5 cursor-pointer"
        />
      </a>
      <p
        class="absolute right-[-5px] bottom-[-5px] w-4 text-center leading-4 bg-black text-white aspect-square rounded-full text-[8px]"
      >
        {{ cartProductsLength }}
      </p>
    </div>
    <img
      src="frontend_assets/menu_icon.png"
      alt="menu-icon"
      class="w-5 cursor-pointer sm:hidden"
      (click)="changeSideNavVisible()"
    />
  </div>
</div>
