<form
  class="flex flex-col items-center w-[90%] sm:max-w-96 m-auto mt-14 gap-4 text-gray-800"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
>
  <div class="inline-flex items-center gap-2 mt-10">
    <p class="prata-regular text-3xl">Login</p>
    <hr class="border-none h-[1.5px] w-8 bg-gray-800" />
  </div>
  <input
    type="email"
    class="w-full px-3 py-2 border border-gray-800"
    placeholder="Email"
    formControlName="email"
  />
  @if (emailIsInvalid) {
  <p class="text-sm text-red-500 w-full mt-[-12px]">
    Please enter a valid email address.
  </p>
  }
  <input
    type="password"
    class="w-full px-3 py-2 border border-gray-800"
    placeholder="Password"
    formControlName="password"
  />
  <div class="w-full flex justify-between text-sm mt-[-8px]">
    <p class="cursor-pointer">Forgot your password?</p>
    <p class="cursor-pointer" [routerLink]="['/signup']">Create account</p>
  </div>
  @if (Error$ | async) {
  <p class="text-lg text-red-600">
    Email or Password is Invalid<span class="text-orange-400 text-xl"> ⚠</span>
  </p>
  }
  <button
    class="bg-black text-white font-light px-8 py-2 mt-4"
    [disabled]="myForm.invalid"
    [class]="{
      'bg-gray-400': myForm.invalid
    }"
  >
    Sign In
  </button>
</form>
