<div class="mt-8">
  <div class="mt-8 min-w-80">
    <app-cart-total />
  </div>
</div>
<div class="mt-12">
  <app-section-title [title]="{ text1: 'PAYMENT', text2: 'METHOD' }" />
  <!-- payment -->
  <div class="flex gap-3 flex-col lg:flex-row">
    <div (click)="onChoosePayment('stripe')">
      <div class="flex items-center gap-3 border p-2 px-3 cursor-pointer">
        <p
          class="min-w-3.5 h-3.5 border rounded-full"
          [class]="{
            'bg-green-400': paymentMethod === 'stripe'
          }"
        ></p>
        <img
          src="frontend_assets/stripe_logo.png"
          alt="payment-img"
          class="h-4 mx-4"
        />
      </div>
    </div>

    <div (click)="onChoosePayment('cod')">
      <div class="flex items-center gap-3 border p-2 px-3 cursor-pointer">
        <p
          class="min-w-3.5 h-3.5 border rounded-full"
          [class]="{
            'bg-green-400': paymentMethod === 'cod'
          }"
        ></p>
        <p class="font-medium mx-4 text-sm text-gray-500 h-4">
          CASH ON DELIVERY
        </p>
      </div>
    </div>
  </div>
  <div class="w-full text-end mt-8">
    <!-- [routerLink]="['/orders']" -->
    <button
      class="bg-black text-white px-16 py-3 text-sm"
      (click)="onPlaceOrder()"
      [disabled]="(customerForm$ | async)?.invalid || paymentMethod === ''"
      [class]="{
        'bg-gray-400': (customerForm$ | async)?.invalid || paymentMethod === ''
      }"
    >
      PLACE ORDER
    </button>
  </div>
</div>
