@if (productData) {
<div
  class="border-t-2 pt-10 transition-opacity ease-in duration-500 opacity-100"
>
  <div class="flex gap-12 sm:gap-12 flex-col sm:flex-row">
    <div class="sm:w-[45%] sm:h-[45%]">
      <app-product-images [selectedProduct]="productData" />
    </div>
    <app-product-info [selectedProduct]="productData" />
  </div>
  <app-product-desc-reviews />
  <app-related-products [selectedProduct]="productData" />
</div>

} @else {
<div class="absolute right-[-50%] left-[-50%]">
  <app-spinner />
</div>
}
