@if ((isLoading$ | async) && !(isError$ | async)) {
<div class="absolute right-[-50%] left-[-50%]">
  <app-spinner />
</div>
}@else if(isError$ | async){
<p class="absolute w-full sm:text-xl text-center mt-10 border p-4">
  Something went wrong fetching the product data 💥💥. Please try again later.
</p>
}@else{
<div
  class="border-t-2 pt-10 transition-opacity ease-in duration-500 opacity-100"
>
  <div class="flex gap-12 sm:gap-12 flex-col sm:flex-row">
    <div class="sm:w-[45%] sm:h-[45%]">
      <app-product-images />
    </div>
    <app-product-info />
  </div>
  <app-related-products />
</div>
<app-product-desc-reviews />
}
