<div class="flex justify-between text-base sm:text-2xl mb-4">
  <app-section-title [title]="{ text1: 'ALL', text2: 'COLLECTIONS' }" />
  <select
    class="border-2 border-gray-300 text-sm px-2"
    #select
    (change)="onSelectSortOptions(select.value)"
  >
    <option value="relevant">Sort by: Relevant</option>
    <option value="lowToHigh">Sort by : Low to High</option>
    <option value="highToLow">Sort by : High to Low</option>
  </select>
</div>

<div
  class="grid grid-cols-2 md:gird-cols-3 lg:grid-cols-4 gap-4 gap-y-6 relative"
>
  @if ((isLoading$ | async) && !(isError$ | async ) ) {
  <div class="absolute w-full sm:text-xl text-center sm:mt-[-50px] mt-12">
    <app-spinner />
  </div>
  } @else if (isError$ | async ) {
  <p class="absolute w-full sm:text-xl text-center mt-10 border p-4">
    Something went wrong fetching the avaliable collections 💥💥. Please try
    again later.
  </p>
  } @else { @for (product of products$ | async; track $index) {
  <app-product-item
    [productDetails]="{
      id: product.id,
      price: product.price,
      imageCover: product.imageCover,
      title: product.title
    }"
  />
  } }
  <div class="flex justify-center space-x-4 mt-4 w-[700px] m-auto">
    <button
      class="px-4 py-2 bg-gray-300 rounded"
      [disabled]="metaData.currentPage === 1"
      (click)="onPrevPage()"
    >
      Prev
    </button>
    <span
      >الصفحة {{ metaData.currentPage }} من {{ metaData.numberOfPages }}</span
    >
    <button
      class="px-4 py-2 bg-gray-300 rounded"
      (click)="onNextPage()"
      [disabled]="metaData.currentPage === metaData.numberOfPages"
    >
      Next
    </button>
  </div>
</div>
