<div class="flex justify-between text-base sm:text-2xl mb-4">
  <app-section-title [title]="{ text1: 'ALL', text2: 'COLLECTIONS' }" />
  <select
    class="border-2 border-gray-300 text-sm px-2"
    #select
    (change)="onSelectSortOptions(select.value)"
  >
    <option value="relevant">Sort by: Relevant</option>
    <option value="lowToHigh">Sort by : Low to High</option>
    <option value="highToLow">Sort by : High to Low</option>
  </select>
</div>
<div
  class="grid grid-cols-2 md:gird-cols-3 lg:grid-cols-4 gap-4 gap-y-6 relative"
>
  @if (!(isLoading$ | async) && !(error$ | async) ) { @for (product of products$
  | async; track $index) {
  <app-product-item
    [productDetails]="{
      id: product.id,
      price: product.price,
      imageCover: product.imageCover,
      title: product.title
    }"
  />
  } } @else if (error$ | async) {
  <p class="absolute w-full sm:text-xl text-center">
    {{ error$ | async }}
  </p>
  } @else {
  <div class="absolute right-[-50%] left-[-50%]">
    <app-spinner />
  </div>
  }
</div>
