<div class="border-t border-b bg-gray-50 text-center">
  <div
    class="inline-flex items-center justify-center border border-gray-400 px-5 py-2 my-5 mx-3 rounded-full w-3/4 sm:w-1/2"
  >
    <input
      type="text"
      placeholder="Search"
      class="flex-1 outline-none bg-inherit text-sm"
      [(ngModel)]="searchValue"
      (ngModelChange)="onSearchChange($event)"
    />
    <img
      src="frontend_assets/search_icon.png"
      alt="search_icon"
      class="w-4 cursor-pointer"
    />
  </div>
  <img
    src="frontend_assets/cross_icon.png"
    alt="cross_icon"
    class="inline w-3 cursor-pointer"
    (click)="onCloseSearchBar()"
  />
</div>
