<div class="my-10">
  <!-- Latest Collection Title -->
  <div class="text-center py-8 text-3xl">
    <app-section-title
      [title]="{    text1: 'LATEST',
    text2: 'COLLECTIONS',}"
    />
    <p class="w-3/4 m-auto text-xs sm:text-sm md:text-base text-gray-600">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the.
    </p>
  </div>

  @if (!isFetching() && !error()) {
  <!-- Latest Collection Data -->
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 gap-y-6"
  >
    @for (product of products$ | async; track product.id) {
    <app-product-item
      [productDetails]="{
        id: product.id,
        price: product.price,
        imageCover: product.imageCover,
        title: product.title
      }"
    />

    }
  </div>
  }@else if (error()) {
  <p class="text-center text-2xl mt-12">{{ error() }}</p>
  } @else {
  <app-spinner />
  }
</div>
